{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container text-center">
        <h2>Repertoire d'Auteurs</h2>
    </div>
</div>
{% for auteur in auteurs %}
    <div class="row" style="display: inline-block; margin-left: 1.5%; margin-top: 1%;">
        <div class="card" style="width: 18rem;">
            <img class="card-top" src="https://picsum.photos/250?random=1">
            <div class="card-body">
                <p class="card-text">Noms: {{ auteur.nom }}</p>
                <p class="card-text">Prenoms: {{ auteur.prenom }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}